.clear {
  content: '';
  clear: both;
}
html {
  height: 100%;
  font-size: 0.46rem;
  background: #f5f5f5;
}
div,
span,
a,
p {
  overflow: hidden;
}
.background-size {
  background-size: 100% 100%;
}
.title {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1.74rem;
  line-height: 1.74rem;
  border-bottom: 1px solid #b2b2b2;
  background-color: #fafafa;
  display: -webkit-box;
}
.title p {
  -webkit-box-flex: 1;
  text-align: center;
}
.title #goIndex {
  padding-right: 1rem;
  font-size: 0.62rem;
}
.title #edit-all {
  padding-left: 1rem;
  font-size: 0.62rem;
}
#main-commodity {
  margin-top: 1.74rem;
  margin-bottom: 1.84rem;
}
.commodity {
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #b2b2b2;
  font-size: 0.46rem;
}
.select {
  display: inline-block;
  margin: 0 0.48rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url('../img/icons/round.png');
  background-size: 100% 100%;
}
.select-check {
  display: inline-block;
  margin: 0 0.48rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url('../img/icons/select_fill.png');
  background-size: 100% 100%;
}
.commodity-head {
  display: flex;
  /*Flex布局*/
  display: -webkit-flex;
  /* Safari */
  align-items: center;
  /*指定垂直居中*/
  height: 1.76rem;
  background: #fff;
}
.commodity-head div:nth-of-type(1) {
  -webkit-flex: 1;
}
.commodity-head div:nth-of-type(2) {
  -webkit-flex: 2;
}
.commodity-head div:nth-of-type(3) {
  -webkit-flex: 4;
}
.commodity-head .icon-1 {
  width: 0.64rem;
  height: 0.64rem;
  background: url(../img/icons/shop.png) no-repeat;
  background-size: 100% 100%;
}
.commodity-head .commodity-name {
  margin: 0 0.42rem;
  overflow: hidden;
}
.commodity-head .icon-2 {
  width: 0.48rem;
  height: 0.48rem;
  background: url(../img/icons/right.png) no-repeat;
  background-size: 100% 100%;
}
.commodity-head .edit {
  float: right;
  margin-right: 0.8rem;
  text-align: center;
}
.commodity-content {
  display: flex;
  /*Flex布局*/
  display: -webkit-flex;
  /* Safari */
  align-items: center;
  /*指定垂直居中*/
  height: 4.2rem;
  background-color: #fafafa;
}
.commodity-content .pic {
  width: 3.68rem;
  height: 3.68rem;
}
.commodity-content .detail {
  width: 8.28rem;
  height: 3.68rem;
  padding-left: 0.5rem;
  font-size: 0.46rem;
  overflow: hidden;
}
.commodity-content .detail .describe a {
  display: inline-block;
  width: 8.28rem;
  height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.commodity-content .detail .model {
  display: block;
  padding: 0.34rem 0;
  width: 8.28rem;
  height: 0.5rem;
  color: #b2b2b2;
}
.commodity-content .detail .price {
  display: inline-block;
}
.commodity-content .detail .unit-price {
  margin: 0 0.1rem;
  color: #ff5500;
  font-size: 0.56rem;
}
.commodity-content .detail .origin-price {
  margin: 0.2rem 0.18rem;
  color: #b2b2b2;
  text-decoration: line-through;
}
.commodity-content .detail .count {
  float: right;
  margin-right: 0.2rem;
}
.commodity-content .detail .count span {
  font-size: 0.56rem;
}
.commodity-content .onedittemp {
  width: 9.56rem;
  height: 4.2rem;
}
.commodity-content .onedit {
  display: -webkit-flex;
  height: 4.2rem;
  font-size: 0.6rem;
  text-align: center;
  line-height: 4.2rem;
}
.commodity-content .onedit span {
  font-weight: bold;
  height: 4.2rem;
}
.commodity-content .onedit .count {
  flex: 5;
}
.commodity-content .onedit .amount-left,
.commodity-content .onedit .amount-right {
  flex: 3;
}
.commodity-content .onedit .delete {
  flex: 4;
  background: #ff5500;
}
#shade {
  display: none;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #000;
}
#judgeDelete {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 10rem;
  height: 4rem;
  background: #f5f5f5;
}
#judgeDelete p {
  display: inline-block;
  width: 100%;
  height: 2.2rem;
  text-align: center;
  line-height: 2.2rem;
  font-size: 0.56rem;
}
#judgeDelete div {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  width: 100%;
  height: 2rem;
}
#judgeDelete button {
  flex: 1;
  height: 1.6rem;
  font-size: 0.7rem;
  color: #fff;
}
#judgeDelete #cancel {
  background: #ccc;
}
#judgeDelete #confirm {
  background: #ff5500;
}
#numOverflow {
  position: absolute;
  z-index: 999;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 1rem;
  font-size: 0.76rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
  border-radius: 0.5rem;
  opacity: 0.7;
}
#maxOverflow {
  background: #000;
  display: none;
}
#minOverflow {
  background: #000;
  display: none;
}
.trade {
  -webkit-transition: scale(1.5) translateY(20%);
  transition: all .5s .2s ease;
}
#payment {
  position: fixed;
  bottom: 0;
  display: flex;
  /*Flex布局*/
  display: -webkit-flex;
  /* Safari */
  align-items: center;
  /*指定垂直居中*/
  width: 100%;
  height: 1.84rem;
  font-size: 0.6rem;
  border-top: 0.02rem solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  background: #fff;
}
#payment p:nth-of-type(1) {
  flex: 5;
}
#payment #sum {
  flex: 5;
}
#payment #sum span {
  color: #ff5500;
}
#payment .freight {
  flex: 2;
  font-size: 0.36rem;
  color: #b2b2b2;
}
#payment input {
  flex: 4.5;
  width: 4.2rem;
  height: 100%;
  background: #ff5500;
}
